.btn {
    
    button {
        position: relative;
        overflow: hidden;
        width: 200px;
        height: 40px;
        border: 2px solid #000;
        border-radius: 5px;
        margin: 0px auto;
        font-weight: 600;
        color: #000;
        background: #fff;

        &:focus {
            outline: none !important;
        }

        &:hover, &:active {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
            color: #fff;
            background: #000;
        }
    }
}