.input {
    h4 {
        // color: #fff
    }

    input {
        background: #fff;
        border: 2px solid #000;
        border-radius: 5px;
        height: 30px;
        padding: 0 15px;
        width: 150px;
        text-align: center;
    }
}